<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
    <style>
        table th, table td {
            padding: 10px;
        }
    </style>
</head>
<body>

<p>Информация о пользователе</p>

<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${user}">
            <th th:text="*{username}"></th>
            <th th:text="*{lastName}"></th>
            <th th:text="*{age}"></th>
            <th th:text="*{email}"></th>
            <th th:text="*{roles}"></th>
        </tr>
        </tbody>
    </table>
</div>

<form action="/logout">
    <button>Logout</button>
</form>

</body>
</html>