<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table th, table td {
            padding: 10px;
        }
    </style>
</head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
              <tr th:each="u : ${users}">
                    <td th:utext="${u.getId()}">Name</td>
                    <td th:utext="${u.getUsername()}">Name</td>
                    <td th:utext="${u.getPassword}">Password</td>
                    <td th:utext="${u.getLastName()}">LastName</td>
                    <td th:utext="${u.getAge()}">Age</td>
                    <td th:utext="${u.getEmail()}">Email</td>
                    <td>
                      <a th:each="role: ${u.getToString(u.getRoles())}" th:text="${role}" ></a>
                    </td>
                    <td>
                        <a th:text="Update" th:href="@{/admin/edit/{id}(id=${u.getId()})}"></a>
                    <form th:method="post" th:action="@{/admin/delete/{id}(id=${u.getId()})}" >
                      <input type="submit" value="Delete"/>
                    </form>
                  </td>
              </tr>
            </tbody>
        </table>
        <br/>
        <a th:href="@{/admin/new}">Create User</a></td></tr>
        <form action="/logout">
            <button>Logout</button>
        </form>
    </body>
</html>
