<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin panel</title>

</head>
<body>

<!-------------------------------------------------Top navbar------------------------------------------------->
<div class="container-fluid">
    <div class="row">
        <div class="row bg-dark">
            <nav class="navbar navbar-light bg-dark">
                <div class="container-fluid text-white">
                    <span th:text="${user.getEmail() + ' with roles:  ' + user.getToString(roles)}"/>
                    <a th:href="@{/logout}" class="float-right btn text-secondary">Logout</a>
                </div>
            </nav>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid">
        <div class="row">

            <div class="col-2 p-0 mt-2">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li th:each="role : ${user.getRoles()}"
                        th:if="${role.getRoleName().contains('ROLE_ADMIN')}" class="nav-item">
                        <a th:href="@{/admin}" class="nav-link active"
                           aria-current="page">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/user}" class="nav-link link-dark">
                            User
                        </a>
                    </li>
                </ul>
            </div>


            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-light hmax min-vh-100">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
                    <h1>Admin panel</h1>
                </div>

                <!------------------------------------------------- Tabs ------------------------------------------------->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#allUsers"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#newUser"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="allUsers" role="tabpanel"
                         aria-labelledby="all-users-tab">

                        <!-------------------------------------------------  users ------------------------------------------------->
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    All users
                                </h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> First Name</th>
                                        <th> Last Name</th>
                                        <th> Age</th>
                                        <th> Email</th>
                                        <th> Role</th>
                                        <th> Edit</th>
                                        <th> Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td><span th:text=" ${user.getId()}"> ID </span></td>
                                        <td><span th:text=" ${user.getUsername()}"> First Name </span></td>
                                        <td><span th:text=" ${user.getLastName()}"> Last Name </span></td>
                                        <td><span th:text=" ${user.getAge()}"> Age </span></td>
                                        <td><span th:text=" ${user.getEmail()}"> Email </span></td>
                                        <td><span th:each="role : ${user.getRoles()}">
                                            <span th:text="${role.getRolesNameModal()}"> Role</span> </span>
                                        </td>
                                        <td><span><a class="btn btn-info"
                                                     role="button" data-bs-toggle="modal"
                                                     th:data-bs-target="${'#editModal' + user.id}"> Edit</a>
                                            </span>

                                            <!------------------------------------------------- Modal изменить  ------------------------------------------------->
                                            <div class="modal fade" tabindex="-1"
                                                 th:id="${'editModal' + user.id}"
                                                 th:object="${user}"
                                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="close"></button>
                                                        </div>

                                                        <div class="modal-body text-center d-flex justify-content-center">
                                                            <form class="text-center"
                                                                  th:method="POST"
                                                                  th:action="@{/admin/update/{id}(id=${user.getId()})}"
                                                                  th:object="${user}"
                                                                  th:id="${'editForm' + user.id}">

                                                                <div class="mb-3">
                                                                    <label for="edit-id"
                                                                           class="col-form-label d-flex justify-content-center"><b>ID</b>:</label>
                                                                    <input disabled type="text"
                                                                           class="form-control"
                                                                           id="edit-id"
                                                                           name="id"
                                                                           th:value="${user.id}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-first_name"
                                                                           class="col-form-label d-flex justify-content-center"><b>First name</b>:</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           id="edit-first_name"
                                                                           name="username"
                                                                           th:value="${user.username}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-last_name"
                                                                           class="col-form-label d-flex justify-content-center"><b>Last
                                                                        name</b>:</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           id="edit-last_name"
                                                                           name="lastName"
                                                                           th:value="${user.lastName}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-age"
                                                                           class="col-form-label d-flex justify-content-center"><b>Age</b>:</label>
                                                                    <input type="number"
                                                                           class="form-control"
                                                                           id="edit-age"
                                                                           name="age"
                                                                           th:value="${user.age}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-email"
                                                                           class="col-form-label d-flex justify-content-center"><b>Email</b>:</label>
                                                                    <input readonly type="email"
                                                                           class="form-control"
                                                                           id="edit-email"
                                                                           name="email"
                                                                           th:value="${user.email}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-password"
                                                                           class="col-form-label d-flex justify-content-center"><b>Password</b>:</label>
                                                                    <input type="password"
                                                                           class="form-control"
                                                                           id="edit-password"
                                                                           name="password">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="edit-role"
                                                                           class="col-form-label d-flex justify-content-center"><b>Role</b>:</label>
                                                                    <select multiple
                                                                            name="roles"
                                                                            id="edit-role"
                                                                            class="form-select"
                                                                            size="2">
                                                                        <option
                                                                                name="role"
                                                                                th:each="role:${roles}"
                                                                                th:value="${{role.id}}"
                                                                                th:text="${role.getRolesNameModal()}"/>
                                                                    </select>
                                                                </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <input class="btn btn-primary" type="submit"
                                                                               value="Edit"/>
                                                                    </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                <a class="btn btn-danger"
                                                   role="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                   th:data-bs-target="${'#deleteModal' + user.id}"> Delete </a>
                                            </span>

                                            <!------------------------------------------------- Modal удалить  ------------------------------------------------->
                                            <div class="modal fade" tabindex="-1" th:id="${'deleteModal' + user.id}"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                                                user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="close"></button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <form class="text-center"
                                                                  th:method="POST"
                                                                  th:action="@{/admin/delete/{id}(id=${user.getId()})}"
                                                                  th:object="${user}"
                                                                  th:id="${'deleteForm' + user.id}">

                                                                <div class="mb-3">
                                                                    <label for="delete-id"
                                                                           class="col-form-label d-flex justify-content-center"><b>ID</b>:</label>
                                                                    <input disabled type="text"
                                                                           class="form-control"
                                                                           id="delete-id"
                                                                           name="id"
                                                                           th:value="${user.id}">
                                                                </div>
                                                               <div class="mb-3">
                                                                    <label for="edit-first_name"
                                                                           class="col-form-label d-flex justify-content-center"><b>First
                                                                        name</b>:</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           id="delete-first_name"
                                                                           name="firstName"
                                                                           th:value="${user.username}">
                                                            </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-last_name"
                                                                           class="col-form-label d-flex justify-content-center"><b>Last
                                                                        name</b>:</label>
                                                                    <input readonly type="text"
                                                                           class="form-control"
                                                                           id="delete-last_name"
                                                                           name="lastName"
                                                                           th:value="${user.lastName}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-age"
                                                                           class="col-form-label d-flex justify-content-center"><b>Age</b>:</label>
                                                                    <input readonly type="number"
                                                                           class="form-control"
                                                                           id="delete-age"
                                                                           name="age"
                                                                           th:value="${user.age}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-email"
                                                                           class="col-form-label d-flex justify-content-center"><b>Email</b>:</label>
                                                                    <input readonly type="email"
                                                                           class="form-control"
                                                                           id="delete-email"
                                                                           name="email"
                                                                           th:value="${user.email}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-password"
                                                                           class="col-form-label d-flex justify-content-center"><b>Password</b>:</label>
                                                                    <input readonly type="password"
                                                                           class="form-control"
                                                                           id="delete-password"
                                                                           name="password">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="delete-role"
                                                                           class="col-form-label d-flex justify-content-center"><b>Role</b>:</label>
                                                                    <select multiple
                                                                            name="roles"
                                                                            id="delete-role"
                                                                            class="form-select"
                                                                            disabled
                                                                            size="2">
                                                                        <option
                                                                                name="role"
                                                                                th:each="role:${roles}"
                                                                                th:value="${{role}}"
                                                                                th:text="${role.getRolesNameModal()}"/>
                                                                    </select>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Close
                                                                        </button>
                                                                        <input class="btn btn-danger" type="submit"
                                                                               value="Delete"/>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>

                    <!-------------------------------------------------  New User ------------------------------------------------->
                    <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-user-tab">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    Add new user
                                </h4>
                            </div>

                            <div class="card-body">
                                <div class="text-center d-flex justify-content-center">
                                    <form th:method="POST" th:action="@{/admin/addUser}"
                                          th:object="${user}">
                                        <div class="form-group mb-2">
                                            <label for="name" class="form-label fw-bold"> Name</label>
                                            <input type="text" name="name" th:field="${user.username}"
                                                   class="form-control"
                                                   id="name" placeholder="Name"/>
                                        </div>

                                        <div class="form-group mb-2">
                                            <label for="lastName" class="form-label fw-bold">Last
                                                name</label>
                                            <input type="text" name="lastName" th:field="${user.lastName}"
                                                   class="form-control"
                                                   id="lastName" placeholder="Last name"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="age" class="form-label fw-bold">Age</label>
                                            <input type="text" name="username" th:field="${user.age}"
                                                   class="form-control"
                                                   id="age" placeholder="Age"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="form-label fw-bold">Email</label>
                                            <input type="text" name="email" th:field="${user.email}"
                                                   class="form-control"
                                                   id="email" placeholder="Email"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="password"
                                                   class="form-label fw-bold">Password</label>
                                            <input type="password" name="password" th:field="${user.password}"
                                                   class="form-control"
                                                   id="password"
                                                   minlength="3" placeholder="Password"/>
                                        </div>
                                        <p>
                                            <label class="form-label fw-bold">Role</label>
                                            <select class="w-100 form-select" name="newUserRoles"
                                                    th:field="*{roles}" size="2"
                                                    multiple
                                                    required>
                                                <option th:each="role : ${roles}" th:value="${role.id}"
                                                        th:text="${role.getRolesNameModal()}"/>

                                            </select>
                                        </p>

                                        <input class="btn btn-success" type="submit"
                                               value="Add new user"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>







    <!--</head>-->
<!--    <body>-->
<!--        <table border="1">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th scope="col">Id</th>-->
<!--                    <th scope="col">Name</th>-->
<!--                    <th scope="col">Password</th>-->
<!--                    <th scope="col">LastName</th>-->
<!--                    <th scope="col">Age</th>-->
<!--                    <th scope="col">Email</th>-->
<!--                    <th scope="col">Roles</th>-->
<!--                    <th scope="col">Action</th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              <tr th:each="u : ${users}">-->
<!--                    <td th:utext="${u.getId()}">Name</td>-->
<!--                    <td th:utext="${u.getUsername()}">Name</td>-->
<!--                    <td th:utext="${u.getPassword}">Password</td>-->
<!--                    <td th:utext="${u.getLastName()}">LastName</td>-->
<!--                    <td th:utext="${u.getAge()}">Age</td>-->
<!--                    <td th:utext="${u.getEmail()}">Email</td>-->
<!--                    <td>-->
<!--                      <a th:each="role: ${u.getToString(u.getRoles())}" th:text="${role}" ></a>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <a th:text="Update" th:href="@{/admin/edit/{id}(id=${u.getId()})}"></a>-->
<!--                    <form th:method="post" th:action="@{/admin/delete/{id}(id=${u.getId()})}" >-->
<!--                      <input type="submit" value="Delete"/>-->
<!--                    </form>-->
<!--                  </td>-->
<!--              </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <br/>-->
<!--        <a th:href="@{/admin/new}">Create User</a></td></tr>-->
<!--        <form action="/logout">-->
<!--            <button>Logout</button>-->
<!--        </form>-->
<!--    </body>-->
<!--</html>-->
